.before-after-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
  width: 100%;
}

img {
  height: auto;
  display: flex;
}

.slider {
  width: 100%;
}